body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1F2937;
    color: white;
}
.logo{
    font-weight: bold;
    font-size: larger;
}

.links{
    display: flex;
    gap: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 70px;
    background-color: #1F2937;
    color: white;
}

.hero-sek1, .hero-sek2{
    width: 390px;
    height: 150px;

}
.hero-sek2{
    background-color: gray;
}
.hero-p{
    font-weight: bold;

}

button{
    color: white;
    background-color: #3882F6;
    padding: 7px;
    width: 100px;
    border-radius:10px;
    border-color: #3882F6;
}
